.city {
    margin-left: 15px;
    font-weight: normal;
}

.city a {
    text-decoration: none;
    color: black;
}

.city a:hover {
    text-decoration: underline;
}

.title {
    cursor: pointer;
    background-image: url('../images/plus.png');
    background-repeat: no-repeat;
    background-size: 5px;
    padding-left: 10px;
    background-position: 0px 5px;
}

.expanded
{
    background-image: url('../images/minus.png');
}

.minimized
{
    background-image: url('../images/plus.png');
}

.title:hover {
    text-decoration: underline;
}

.active {
    font-weight: bold;
}